<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: 기본 문자열 다루기

1) 문자열 '나는' 과 '너를...'을 붙여서 출력하세요.

In [11]:
print('나는'+'너를...')
print('나는','너를...',sep='')

나는너를...
나는너를...

2) 문자열 '나는'과 '너를...' 사이에 한 칸 띄어서 출력하세요.

In [20]:
print('나는','너를')
print('나는' + ' ' + '너를')

나는 너를
나는 너를

3) '안녕하세요?' 3개와 '반갑습니다!' 2개를 하나의 print 함수로 출력하세요.

In [30]:
print('안녕하세요? '*3 + '반갑습니다! ' *2)
print('안녕하세요? '* 3, '반갑습니다! '*2, sep='')
print

안녕하세요? 안녕하세요? 안녕하세요? 반갑습니다! 반갑습니다!
안녕하세요? 안녕하세요? 안녕하세요? 반갑습니다! 반갑습니다!

4) 변수 e에 임의의 숫자를 저장하고, 변수 f에 문자열 '안녕하세요?'를 저장하여 e 개 출력하세요.

In [32]:
e=3
print('안녕하세요 '*e)

안녕하세요 안녕하세요 안녕하세요

# 실습 #2: 문자열 인덱싱, 슬라이싱

1) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 두 번째 문자를 출력하세요.

In [45]:
a = '문자열을 다뤄 봅시다'
a[1]

'자'

2) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 세 번째 부터 여섯 번째 문자까지 출력하세요.

In [46]:
a = '문자열을 다뤄 봅시다'
a[2:7]

'열을 다뤄'

3) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 뒤에서 두 번째 문자를 출력하세요.

In [48]:
a = '문자열을 다뤄 봅시다'
a[-2]

'시'

4) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 뒤에서 여섯 번째 부터 네 번째 문자까지 출력하세요.

In [52]:
a = '문자열을 다뤄 봅시다'
a[-6:-4]

'다뤄'

5) 변수 b에 '파이썬 배울수록 재미있죠?'를 저장하고 여섯 번째 부터 마지막 문자까지 출력하세요.

In [53]:
b = '파이썬 배울수록 재미있죠?'
b[7:]

'록 재미있죠?'

6) 변수 b에 '파이썬 배울수록 재미있죠?'를 저장하고 맨 뒤 다섯 문자를 출력하세요.

In [60]:
b = '파이썬 배울수록 재미있죠?'
b[-5:]

'재미있죠?'

# 실습 #3: in, not in

1) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 문자열에 '문'이라는 문자가 있는지 확인하세요.

- 힌트: 문자 in 문자열

In [35]:
a = '문자열을 다뤄 봅시다'
# '문' in a
print('문' in a)

True

2) 변수 a에 '문자열을 다뤄 봅시다.'를 저장하고 문자열에 '만'이라는 문자가 없는지 확인하세요.

- 힌트: 문자 not in 문자열

In [40]:
a = '문자열을 다뤄 봅시다'
# '만' in a
print('만이 없나?','만' not in a)
print('문이 없나?','문' not in a)

만이 없나? True
문이 없나? False

3) 변수 b에 '파이썬 배울수록 재미있죠?'를 저장하고 문자열에 '가'이라는 문자가 없는지 확인하세요.

In [42]:
b = '파이썬 배울수록 재미있죠?'
print('가가 포함?','가' in b)
print('파이썬 포함?','파이썬' in b)

가가 포함? False
파이썬 포함? True

# 실습 #4: 문자열 안에 문자열 넣기

1) 변수 a에 {}를 넣은 문자열 '이름: {}, 나이: {}'를 저장하고 .format()으로 적당한 값을 넣어 출력하세요.

In [67]:
name = '송주영'
age = 19
print('이름:{}, 나이:{}'.format(name,age))

이름:송주영, 나이:19

2) 밖에서 선언한 변수 값을 문자열 안에 넣어서 출력해 봅니다.

- 변수 name에는 이름, age에는 나이 값을 저장하고
- 변수 a에는 f'문자열{변수}...' 형태를 사용해 위와 동일한 결과가 나오도록 출력하세요.

In [68]:
name = '송주영'
age = 19
print(f'이름:{name}, 나이:{age}')

이름:송주영, 나이:19

3) 변수 b에 {}를 넣은 문자열 '{}은(는) {}원입니다.'를 저장하고 .format()으로 적당한 값을 넣어 출력하세요.

In [70]:
b = '{}은(는) {}원입니다.'
print(b.format('아메리카노', 4000))

아메리카노은(는) 4000원입니다.

4) 밖에서 선언한 변수 값을 문자열 안에 넣어서 출력해 봅니다.

- 변수 product에는 제품명, price에는 가격을 저정하고
- 변수 b에는 f'문자열{변수}...' 형태를 사용해 위와 동일한 결과가 나오도록 출력하세요.

In [75]:
product = '아메리카노'
price = 4000
b = f'{product}은(는) {price}원입니다.'
b

'아메리카노은(는) 4000원입니다.'

# 실습 #5: 여러 줄 문자열

1) 아래와 같은 결과가 나오도록 변수 a에 문자열을 저장하고 출력하세요.


        이름: 홍길동
        나이: 48

- 힌트: ''' '''를 사용해 봅시다.

In [139]:
a = '''이름 : 홍길동
나이 : 48
'''
print(a)

이름 : 홍길동
나이 : 48

2) 아래와 같은 결과가 나오도록 변수 b에 문자열을 저장하고 출력하세요.

        [전화번호부]
        강우동: 010-1234-5678
        김치국: 010-2346-1578
        한국인: 010-3458-6712

In [133]:
a = '''[전화번호부]
강우동: 010-1234-5678
김치국: 010-2346-1578
한국인: 010-3458-6712
'''
print(a)

[전화번호부]
강우동: 010-1234-5678
김치국: 010-2346-1578
한국인: 010-3458-6712

3) 아래와 같은 결과가 나오도록 변수 c에 f'''문자열{변수}...''' 형태를 사용해 문자열을 대입하여 출력하세요.

- 단, 변수 product에 '아메리카노', count에 3, price에 4000을 대입합니다.


        주문할게요.
        아메리카노 3잔 주세요.
        한 잔이 4000원 맞죠?

In [138]:
product = '아메리카노'
count = 3
price = 4000


a=f'''주문할게요
{product} {count}잔 주세요.
한 잔이 {price}원 맞죠?
'''
print(a)

주문할게요
아메리카노 3잔 주세요.
한 잔이 4000원 맞죠?

In [155]:
# 튜플 활용

product, count, price = '아메리카노',3,4000


a=f'''주문할게요
{product} {count}잔 주세요.
한 잔이 {price}원 맞죠?
'''
print(a)

주문할게요
아메리카노 3잔 주세요.
한 잔이 4000원 맞죠?

# 실습 #6: 문자열을 다루는 메서드들

1) 변수 a에 'I love you'를 저장하고 모든 문자를 대문자로 변환하여 출력하세요.

- 힌트: 문자열.upper()

In [141]:
a='I love you'

a.upper()

'I LOVE YOU'

2) 변수 b에 'Life is a journey'를 저장하고 모든 문자를 대문자로 변환하여 출력하세요.

In [142]:
b='Life is a journey'

b.upper()

'LIFE IS A JOURNEY'

3) 변수 a에 'I Love You'를 저장하고 모든 문자를 소문자로 변환하여 출력하세요

- 힌트: 문자열.lower()

In [143]:
a='I Love You'

a.lower()

'i love you'

4) 변수 b에 'LIFE is a JOURNEY'를 저장하고 모든 문자를 소문자로 변환하여 출력하세요.

In [144]:
b='Life is a JOURNEY'

b.lower()

'life is a journey'

5) 변수 a에 'i love you'를 저장하고 첫 번째 문자만 대문자로 변환하여 출력하세요.

- 힌트: 문자열.capitalize()

In [145]:
a='i love you'

a.capitalize()

'I love you'

6) 변수 b에 'Life Is A Journey'를 저장하고 첫 번째 문자만 대문자로, 나머지는 소문자로 변환하여 출력하세요.

In [146]:
b='Life Is a Journey'

b.lower().capitalize()

'Life is a journey'

7) 리스트 a = ['사람', '코끼리', '낙타'] 일 때, 각각의 값 사이에 ', '이 들어가도록 a를 하나의 문자열로 결합하세요.

- 힌트: 값 사이 들어갈 문자.join(리스트)

In [147]:
a = ['사람','코끼리','낙타']
','.join(a)

'사람,코끼리,낙타'

8) 리스트 b = ['this', 'is', 'me']일 때, 각각의 값 사이에 공백(' ') 이 들어가도록 b를 하나의 값으로 결합하세요.

In [148]:
b = ['this', 'is', 'me']
' '.join(b)

'this is me'

9) 변수 a에 '나는 파이썬을 배우고 있다.'를 저장하고 공백을 기준으로 분할하여 리스트 형태로 출력하세요.

- 힌트: 문자열.split(분할의 기준이 될 값)

In [149]:
a = '나는 파이썬을 배우고 있다.'
a.split(' ')

['나는', '파이썬을', '배우고', '있다.']

10) 변수 b에 '     홍길동     '을 저장하고 왼쪽, 오른쪽, 양쪽 공백을 제거하여 각각 출력하세요.

- 힌트: 문자열.lstrip(), 문자열.rstrip(), 문자열.strip()

In [154]:
b = ' 홍길동 '
print(b.lstrip())
print(b.rstrip())
print(b.strip())

홍길동
 홍길동
홍길동