<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

# 2.문자열 자료형

- 기본 자료형이지만 이해해야 할 부분이 많아 별도로 분리해서 학습합니다.

## 2.1.문자열 사용

- Python의 문자열은 많은 편의성과 다양한 기능을 제공합니다.

**1) 문자열 표현**

- **작은 따옴표**, 또는 **큰 따옴표**를 사용해 문자열을 표현합니다.
- **len()** 함수로 문자열 길이(=포함된 문자 개수)를 확인할 수 있습니다.

In [1]:
# 문자열 출력(Hello World)
print('Hello World')
print("Hello World")

Hello World
Hello World

In [6]:
# 문자열 변수 선언
a = 'Hello'
b = "World"

# 확인
print(a,b)
print(a,b,sep=', ')
print(a,b,sep='')

Hello World
Hello, World
HelloWorld

In [6]:
# 문자열 길이 확인
len(a)

5

**2) 문자열 나열**

- 문자열을 콤마 없이 나란히 나열하면 합쳐진 결과를 얻습니다.

In [10]:
# 콤마 없이 나열
# s = 'hello' 'world'
s = 'hello', 'world'

# 확인
s

('hello', 'world')

- 문자열을 콤마로 구분하여 나열하면 튜플(Tuple)이 됩니다.
- 참고로 튜플은 (1, 2 ,3) 형태로 소괄호 안에 요소가 나열된 자료형입니다.

In [11]:
# 콤마로 구분해 나열
s = 'hello', 'world'

# 확인
print(s)

('hello', 'world')

In [14]:
# 리스트
a = [1,2,3,4,5]

# 튜플
b = (1,2,3,4,5,)

# 튜플(괄호 생략 가능)
c = 1, 2, 3, 4, 5

print(a, type(a))
print(b, type(b))
print(c, type(c))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [15]:
i = 10
j = 20
k = 30
x = i, j, k
print(x, type(x))

(10, 20, 30) <class 'tuple'>

**3) 여러 줄 문자열 표현**

- 문자열 앞뒤에 따옴표 세 개를 나열하거나, \\n을 사용해 여러 줄 표현이 가능합니다.
- print() 함수를 사용해야 의도한 내용이 제대로 표시됩니다.

In [7]:
# 여러 줄 문자열 표시
s1 = "여러 줄의 문자열을 표시할 때는 \n을 사용하세요"
print(s1)

여러 줄의 문자열을 표시할 때는
을 사용하세요

In [8]:
s2 = """또 다른 방법은 
큰 따옴표나 작은 따옴표를 세 개 사용하는 것입니다."""
print(s2)

또 다른 방법은
큰 따옴표나 작은 따옴표를 세 개 사용하는 것입니다.

**4) 문자열에 따옴표 넣기**

- 큰 따옴표 안에 작은 따옴표, 또는 작은 따옴표 안에 큰 따옴표를 사용합니다.
- \\' 또는 \\\"를 사용해도 됩니다.
- print() 함수를 사용해야 의도한 내용이 제대로 표시됩니다.

In [19]:
# 문자열에 따옴표 넣기
s3 = "문자열 안에 따옴표, 예를 들어 '를 넣고 싶을 때는 이렇게 하세요."
# 싱글 Quotation, 더블 Quotation 구분하여 구현
print(s3)

문자열 안에 따옴표, 예를 들어 '를 넣고 싶을 때는 이렇게 하세요.

In [20]:
s4 = "아니면 \' 또는 \"를 사용해도 됩니다."
print(s4)

아니면 ' 또는 "를 사용해도 됩니다.

**5) 문자열에 \ 넣기**

- 만일 문자열에 \를 넣고자 한다면 다음 구문과 같이 합니다.

In [21]:
# 문자열에 \ 넣기
s5 = "아니면 \\' 또는 \\\"를 사용해도 됩니다."
print(s5)

아니면 \' 또는 \"를 사용해도 됩니다.

## 2.2.문자열 연산

- 문자열 연산은 숫자 연산과 당연히 다릅니다.
- 문자열 연산에 대해 알아두면 이후에 편리하게 사용할 수 있습니다.

**1) 문자열 + 문자열 = 문자열 결합**

In [24]:
# 문자열 변수
s1 = 'hello' 
s2 = 'world'

# 문자열 더하기
hw = s1 + s2
hw = s1 + ' ' + s2

# 확인
print(hw)

hello world

**2) 문자열 * 정수 = 문자열 반복**

       *****************
       ** hello world **
       *****************

In [30]:
# * 사용해 문자열 반복
s1 = 'hello' 
s2 = 'world'

print('*'*17)
print('** ' + s1 + ' ' + s2 + ' **')
print('*'*17)

*****************
** hello world **
*****************

In [ ]:
# 문자열에 0을 곱하면 문자열이 제거됨
s = 'hello'
print(s * 1)
print(s * 0)
print(s * 2)

## 2.3.format 메소드 사용

- 문자열 일부분만 바꾸면서 해당 문자열을 재사용할 경우가 있습니다.
- 예를 들어 문자열에서 이름만 변경하며 사용하는 경우입니다.
- 이를 **문자열 포맷팅**이라고 하며, **문자열.format()** 형태로 사용합니다.

**1) 기본 사용법**

- 단순 문자열에서 { }는 아무 의미가 없습니다.

In [31]:
# 단순 문자열
'이름:{}, 과목:{}, 점수:{}'

'이름:{}, 과목:{}, 점수:{}'

- 하지만 format() 메소드를 만나면 { }는 큰 의미를 가집니다.

In [40]:
# format 사용
'이름:{}, 과목:{}, 점수:{}'. format('홍길동','국어',95)    # '이름:홍길동, 과목:국어, 점수:90'

'이름:홍길동, 과목:국어, 점수:95'

In [42]:
# format 사용
fmt = '이름:{}, 과목:{}, 점수:{}'
fmt.format('홍길동','국어',95)

'이름:홍길동, 과목:국어, 점수:95'

- format() 메소드는 대부분 print() 함수 안에서 사용합니다.

In [45]:
# 변수 선언
name = '홍길동'
year = 2019
perf = 2345.6789

# 출력
print('이름:{}, 연도:{}, 실적:{}'.format(name, year, perf))

이름:홍길동, 연도:2019, 실적:2345.6789

**2) 표시 위치 지정**

- { } 안에 변수 위치 값을 지정해야 하지만, 순서대로 사용될 것이면 생략하는 경우가 많습니다.
- { } 는 출력되는 값 순서 외에도 출력되는 형태, 즉 자리수 등을 제어할 수 있는 기능도 있습니다.

In [49]:
# 변수 선언
name = '홍길동'
year = 2019
perf = 2345.6789

# 출력
print('이름:{0}, 연도:{1}, 실적:{2}'.format(name, year,perf) ) # default
print('이름:{0}, 연도:{1}, 실적:{2:.2f}'.format(name, year,perf))
print('이름:{}, 연도:{}, 실적:{:,.2f}'.format(name, year,perf))

이름:홍길동, 연도:2019, 실적:2345.6789
이름:홍길동, 연도:2019, 실적:2345.68
이름:홍길동, 연도:2019, 실적:2,345.68

**3) 자릿수와 정렬 방식 지정**

- 좀 더 세밀한 출력 형태를 지정하고 싶은 경우 사용합니다.

In [50]:
# 소수점 자리수 제한
print('{:.5f}'.format(12.123456))

12.12346

In [51]:
# 위치만 지정
print('[{0}] [{1}]'.format('홍길동', 1200))

[홍길동] [1200]

In [52]:
# 기본 정렬
print('[{0:10}] [{1:6}]'.format('홍길동', 1200))

[홍길동       ] [  1200]

In [53]:
# 오른쪽, 왼쪽 정렬
print('[{0:>10}] [{1:<6}]'.format('홍길동', 1200))

[       홍길동] [1200  ]

In [54]:
# 가운데 정렬
print('[{0:^10}] [{1:^6}]'.format('홍길동', 1200))

[   홍길동    ] [ 1200 ]

In [55]:
# 공백을 다른 문자로 채우기
print('[{0:-^10}] [{1:_^6}]'.format('홍길동', 1200))

[---홍길동----] [_1200_]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 자신의 이름과 학창시절 국어, 수학, 영어 점수를 각 변수에 대입하세요.

In [57]:
# 변수 선언
name = '송주영'
kor = 100
math = 99
eng = 98

[문2] 세 과목의 합을 구해 보세요.

In [59]:
# 합 구하기
my_sum = kor + math + eng

[문3] 세 과목의 평균을 구해 보세요.

In [61]:
# 평균 구하기
my_mean = my_sum/3
my_mean

99.0

[문4] 다음 코드의 잘못 된 부분을 수정해서 결과가 제대로 표시되게 하세요.

In [ ]:
# 수정 전
print('{} 학생의 점수 합은 {} 이고 평균은 {:.2f} 입니다.'.format(Name, Mean, Sum))

In [62]:
# 수정 후

print('{} 학생의 점수 합은 {} 이고 평균은 {:.2f} 입니다.'.format(name, my_sum, my_mean))

송주영 학생의 점수 합은 297 이고 평균은 99.00 입니다.

## 2.4.f-String

- 최근에는 다음과 같은 방법(f-String)을 많이 사용합니다.

In [68]:
# 변수 선언
name = '홍길동'
age = 25
score = 2345.6789

# 확인
print('이름:{}'.format(name))
print(f'나이: {age}')
print(f'점수: {score}')
print(f'{age}살의 {name}의 점수는 {score}입니다.')

이름:홍길동
나이: 25
점수: 2345.6789
25살의 홍길동의 점수는 2345.6789입니다.

- 출력되는 형태를 나름으로 조절할 수 있습니다. (참고: 문자열:s, 정수:d, 실수:f)

In [ ]:
# 확인
print('ㅇㅇ살의 ㅇㅇㅇ의 점수는 ㅇ,ㅇㅇㅇ.ㅇㅇ입니다.')

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 우선 다음 코드를 실행하여 점수 합계와 평균을 구하세요.

In [76]:
# 변수 선언
name = '홍길동'
age = 25
score1 = 153
score2 = 204
score3 = 259
score4 = 221
score5 = 267

# 합계
tot_score = score1 + score2 + score3 + score4 + score5

# 평균
avg_score = tot_score/5

# 연령대
age_group = age//10 * 10

[문2]  f-String을 사용해 위 변수들 값이 다음과 같은 형태로 출력되도록 코드를 작성하세요.

~~~
이름: 홍길동
연령대: 20대
점수: 153, 204, 259, 221, 267
합계: 1,104 / 평균: 220.80
~~~

In [82]:
# 확인
print(f'이름:{name}')
print(f'연령대:{age_group}대')
print(f'점수:{score1},{score2},{score3},{score4},{score5}')
print(f'합계:{tot_score:,} / 평균:{avg_score}')
print(f'합계:{tot_score:,.2f} / 평균:{avg_score}')

이름:홍길동
연령대:20대
점수:153,204,259,221,267
합계:1,104 / 평균:220.8
합계:1,104.00 / 평균:220.8

In [9]:
a = 10
type = '나이'
print(a, type)

# type(a)

10 나이

In [10]:
del(type)

In [11]:
a = 10
type(a)

int

## 2.5.문자열 인덱싱과 슬라이싱

- 문자열은 문자 요소가 모여서 만들어진 자료형, 즉 **'ABC'는 'A', 'B', 'C' 세 요소가 모인 것**입니다.
- 정수형 위치 인덱스를 사용해 원하는 요소를 조회하는 것을 **인덱싱(Indexing)** 이라고 합니다.
- 범위를 지정해 일정 범위의 요소를 조회하는 것을 **슬라이싱(Slicing)** 이라고 합니다.
- <font color="red">인덱스 값은 0부터 시작</font>함을 잊어서는 안됩니다.
- 문자열 인덱싱과 슬라이싱은 이후에 다룰 리스트(List)와 비슷한 특성을 가집니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/zero.png' width=560 align="left"/>

**1) 문자열 인덱싱**

<img src='https://raw.githubusercontent.com/jangrae/img/master/str_indexing.png' width=560 align="left"/>

In [ ]:
# 문자열 변수
s = '나의살던고향은꽃피는산골'

# 문자열 인덱싱

**2) 문자열 슬라이싱**

<img src='https://raw.githubusercontent.com/jangrae/img/master/str_slicing.png' width=450 align="left"/>

In [44]:
# 문자열 변수
s = '나의살던고향은꽃피는산골'

# 문자열 슬라이싱
print(s[3])
print(s[-9])
print(s[7])
print(s[-5])
print(s[11])
print(s[-1])
print(len(s))

print(s[4:6])
print(s[10:12])
print(s[-1:-3])
print(s[-2:])

print(s[1:10:2])

print(s[-7:-9:-1])

print('문자열에서 위치 찾기')
print(s.find('나'))
print(s.find('산'))

print(s)
print(s[:])

던
던
꽃
꽃
골
골
12
고향
산골

산골
의던향꽃는
향고
문자열에서 위치 찾기
0
10
나의살던고향은꽃피는산골
나의살던고향은꽃피는산골

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align='left'/>

[문1] 다음 셀의 결과를 확인한 후 이어지는 셀을 완성해 보세요.

In [46]:
my_str = 'Let\'s learn Python.'
#         01234567890123456789
print(my_str)                      # Let's learn Python.

Let's learn Python.

In [84]:
# 다음 코드 실행 결과를 예측 해보기
print(my_str[6])                   # L
print(my_str[10])                  # N
print(my_str[6:11])                # Learn

print(my_str[3])

l
n
learn
'

In [54]:
# Python 문자열이 표시되게 하려면?
print(my_str[-7:-1])                   # Python

Python

**[참고] 인덱싱으로 문자열 변경 불가**

- 인덱싱, 슬라이싱을 사용해 문자를 변경할 수는 없습니다.

In [59]:
# 문자 변경(?)
s = '나의살던고향은꽃피는산골'
s[0]
# s[0] = '너'                        # TypeError: 'str' object does not support item assignment

'나'

## 2.6.문자열 관련 주요 메소드

* 변수(또는 개체) 뒤에 '.함수' 형태로 사용하는 함수를 **메소드(Method)** 라고 부릅니다.
- 아래 언급된 메소드 외에도 문자열 관련 메소드가 상당히 많으니 관련 자료를 참고하기 바랍니다.
- 문자열을 변환하는 메소드를 사용해도 그 결과가 변수에 반영되지는 않습니다.

In [86]:
# 대문자로 변환
s = "I have a Dream."
print(s.upper())         # I HAVE A DREAM.
print(s)                 # I have a Dream.

I HAVE A DREAM.
I have a Dream.

- 변환 결과를 변수에 반영하려면 메소드가 반환하는 값을 변수에 대입해야 합니다.

In [90]:
# 대문자로 변환
s = "I have a Dream."
print(s.upper())         # I HAVE A DREAM.

# 변수에 반영
s = s.upper()
print(s)                 # I HAVE A DREAM.

I HAVE A DREAM.
I HAVE A DREAM.

**1) 대/소문자 변환**

- **capitalize()** 메소드: 문자열 첫 문자만 대문자, 나머지 모두 소문자로 변환합니다.
- **title()** 메소드: 단어 첫 문자만 대문자, 나머지는 모두 소문자로 변환합니다.
- **upper()** 메소드: 모든 문자를 대문자로 변환합니다.
- **lower()** 메소드: 모든 문자를 소문자로 변환합니다.

In [120]:
# 대/소문자 변환
s = "I have a Dream."

print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())

I HAVE A DREAM.
i have a dream.
I have a dream.
I Have A Dream.

**2) 자릿수 지정과 정렬**

- **rjust(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 오른쪽 정렬합니다.
- **ljust(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 왼쪽 정렬합니다.
- **center(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 가운데 정렬합니다.

In [132]:
s = 'apple'
print('[' + s.rjust(7) + ']')
print('[' + s.ljust(7) + ']')
print('[' + s.center(7) + ']')

[  apple]
[apple  ]
[ apple ]

**3) 일부 변경 및 제거**

- **replace(x, y)** 메소드: 문자열에 포함된 일부 문자열 x를 문자열 y로 변경합니다.
- **strip(x)** 메소드: 문자열에서 양쪽의 공백 또는 특수 문자를 제거합니다.

In [105]:
# 문자열 변경('now' --> 'now ')
s = 'nowhere'
s.replace('now', 'now ')

'now here'

In [126]:
# 앞 뒤 빈 문자열, 특수 문자 제거
print('  world '.strip())
print('#world#$$#'.strip())
print('#world#$$#'.strip('$#'))

world
#world#$$#
world

In [140]:
# 공백을 포함한 화이트 문자 제거
s = ' my world aivle world \n'
print('[' + s + ']')
print('[' + s.strip() + ']')

s = ' my world \t aivle world \n'
print('[' + s + ']')
print('[' + s.strip() + ']')

[ my world aivle world
]
[my world aivle world]
[ my world 	 aivle world
]
[my world 	 aivle world]

- replace() 메소드를 사용하는 경우가 많으니 꼭 기억합니다.

In [135]:
# 문자열 변수 
num = '123,456'

# 콤마 제거 후 정수로 변환

print( int(num.replace(',','')))

# 연산
print(num * 2)

123456
123,456123,456

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 코드의 실행 결과가 '파이썬을 열심히 공부할께요!'가 되게 수정해 보세요.

In [139]:
# 문자열 변수 선언
my_str = '파이썬을 대충 공부할께요!'

# 문자열 변환
my_str.replace('대충','열심히')

'파이썬을 열심히 공부할께요!'

**4) 분리와 연결**

- **split((x)** 메소드: x 문자를 구분자로 하여 문자열을 분리하여 리스트로 변환합니다.
- (공백이 기본 구분자) -> (공백과 화이트 문자가 기본 구분자)
- **x.join(s)** 메소드: x를 구분자로 하여 요소들을 연결한 문자열로 변환합니다.

In [150]:
# 문자열 변수
s = 'I have a Dream!'

# 문자열 분리
s.split()

['I', 'have', 'a', 'Dream!']

In [152]:
s = 'I have a \n wonderful Dream'
s = 'I have a \t wonderful Dream'

# 문자열 분리
print(s.split())

print(s.split(' '))

print('따라서 공백과 화이트문자가 기본 구분자')

['I', 'have', 'a', 'wonderful', 'Dream']
['I', 'have', 'a', '\t', 'wonderful', 'Dream']
따라서 공백과 화이트문자가 기본 구분자

In [171]:
# 문자열 변수 
s = '2020-09-14'

# 문자열 분리

print(s.split('-'))
print(s.split('-')[0])
print(s.split('-')[1])

['2020', '09', '14']
2020
09

In [173]:
# 문자열 변수
s = '1/2/3/4/5/6/7/8/9'

# 문자열 분리
s_new = s.split('/')

# 확인
print(s)
print(s_new)

1/2/3/4/5/6/7/8/9
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [179]:
# 문자열 변수
s = '2020-08-14'

# 문자열 분리
year = s.split('-')[0] 
month = s.split('-')[1]
day = s.split('-')[2]

# 확인
print('오늘은', year, '년', month, '월', day, '일 입니다.')
print(f'오늘은 {year}년 {month}월 {day}일입니다.')

오늘은 2020 년 08 월 14 일 입니다.
오늘은 2020년 08월 14일입니다.

- 위 구문을 다른 방법으로 작성할 수 있습니다.
- 위 구문과 아래 구문의 차이를 생각해 보세요.

In [190]:
# 문자열 변수
s = '2020-08-14'

# 문자열 분리
dt = s.split('-')

# 확인
print('오늘은', dt[0], '년', dt[1], '월', dt[2], '일 입니다.')

오늘은 2020 년 08 월 14 일 입니다.

In [192]:
# 문자열 변수
s = '2020-09-14'

# 확인
print('오늘은', s.split('-')[0] , '년', s.split('-')[1] , '월', s.split('-')[2] , '일 입니다.')

오늘은 2020 년 09 월 14 일 입니다.

- join() 메소드로 구분자를 두어 연결된 문자열을 만듭니다.

In [218]:
# 중간에 특정 문자열 삽입
s = 'PYTHON'
s1 = '/'

s1.join(s)

'P/Y/T/H/O/N'

In [227]:
# 요소를 연결해서 문자열로
a = ['홍길동', '한사랑', '강우동', '박여인']
s = ', '.join(a)
# Join과 split은 방향이 반대?

# 확인
print('a\n',a)
print('s\n',s)

a
 ['홍길동', '한사랑', '강우동', '박여인']
s
 홍길동, 한사랑, 강우동, 박여인

In [231]:
# 문자열 s를 구분자로 나누어 리스트로
b = s.split(',')

# 확인
b

['홍길동', ' 한사랑', ' 강우동', ' 박여인']

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 주어진 문자열을 적절한 구분자를 기준으로 분리하세요.

In [242]:
# 문자열 변수
my_str = '15, 23, 52, 41, 25, 60, 47, 28, 49, 60'

# 문자열 분리
my_str.split(', ')

['15', '23', '52', '41', '25', '60', '47', '28', '49', '60']

[문2] 다음 주어진 리스트의 요소를 yyyy-mm-dd 형태로 연결해 dt 변수에 담고 결과를  확인하세요.

In [246]:
# 리스트 만들기
my_list = ['2020', '09', '14']

# 문자열 연결
dt = '-'.join(my_list)

# 확인
dt

'2020-09-14'

[문3] 위에서 배운 문자열 관련 메소드를 사용해 다음 주어진 리스트의 요소를 모두 대문자로 바꾸세요.

In [259]:
# 리스트 만들기
a = ['h', 'a', 'p',  'p', 'y']

# 대문자로 변경
# a = '-'.join(a)
# a = a.upper()
# a = a.split('-')

a = '-'.join(a).upper().split('-')

# 확인
a

['H', 'A', 'P', 'P', 'Y']

**5) 표시 형식 지정**

- **format()** 메소드는 데이터 표시 위치와 모양을 설정할 때 사용합니다.

In [ ]:
# 여러 변수를 한 줄에 입력
a, b, c = 10, 'Hello', 0.1
print('{} {} {}'.format(a, b, c))