<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

# 3.리스트(List) 자료형

- 리스트는 여러 값을 묶어서 갖는 컨테이너 자료형 중의 하나입니다.
- **대괄호([ ])** 안에 콤마로 구분해 값을 나열하며, 이 값을 **요소**라고 부릅니다.
- 이 세상 온갖 데이터(숫자, 문자, 파일, 이미지 등등)가 리스트의 요소가 될 수 있습니다.
- 당연히 리스트가 리스트의 요소가 될 수도 있습니다.
- Python에서 가장 많이 사용되는 자료형이 리스트라고 생각해도 됩니다.

**[참고] Python과 괄호**

- Python은 여러 값을 묶어서 가질 수 있는 **컨테이너 자료형**을 제공합니다.
- **리스트(List), 튜플(Tuple), 집합(Set), 딕셔너리(Dictionary)** 가 컨테이너 자료형입니다.
- 여러 값을 묶기 위해서는 당연히 **괄호**가 필요합니다.
- 어떤 괄호를 사용하는가에 따라 자료형이 결정됩니다.
- Python은 우리가 아는 모든 괄호를 다 사용합니다.
    - **대괄호**로 값을 묶으면 **리스트**가 됩니다. ex) [1, 2, 3, 4]
    - **소괄호**로 묶으면 **튜플**이 됩니다. ex) (1, 2, 3, 4)
    - **중괄호**로 묶으면 **집합**이 됩니다. ex) {1, 2, 3, 4}
    - 그런데 **딕셔너리**에 사용할 더 이상의 괄호가 없습니다. 그래서...

<img src='https://raw.githubusercontent.com/jangrae/img/master/container.png' width=500 align = "left"/>

## 3.1.일반 변수와 리스트 비교

- 일반 변수와 리스트 특징을 비교하면 왜  리스트가 필요한 지 알 수 있습니다.

**1) 일반 변수**

- 일반 변수를 사용한다면 5명 학생 성적을 처리하기 위해 **5개 변수**가 필요합니다. 
- 50명 학생 성적을 처리한다면 **50개 변수**가 필요합니다.

In [24]:
a = ()
print('a 타입', type(a))

b = (1)
print('b 타입', type(b))

c = (1,)
print('c 타입', type(c))


e = {1,}
print('e 타입', type(e))

f = {1}
print('e 타입', type(f))

g = 1,2,3,4,5
print('g 타입', type(g))

print('\n','*'*10,'딕셔너리','*'*10,sep='')

d = {}
print('d 타입', d, type(d))


g = {1:1}
print('g 타입', g, type(g))

a 타입 <class 'tuple'>
b 타입 <class 'int'>
c 타입 <class 'tuple'>
e 타입 <class 'set'>
e 타입 <class 'set'>
g 타입 <class 'tuple'>

**********딕셔너리**********
d 타입 {} <class 'dict'>
g 타입 {1: 1} <class 'dict'>

In [9]:
# 개별 값을 갖는 기존 변수
score1 = 85
score2 = 90
score3 = 80
score4 = 75
score5 = 95

- 합을 구하려면 모든 변수를 다음과 같이 더해야 하니 정말 **번거롭습니다.**
- 5개 정도 되니 참고 썼지, 만일 변수가 50개 라면...상상하기 싫습니다.
- 5개 값 중에서 최댓값을 구하는 것은 어떻게 해야 할지 모르겠습니다.

In [10]:
# 변수들의 합
score_sum = score1 + score2 + score3 + score4 + score5

# 확인
score_sum

425

**2) 리스트**

- 리스트를 사용한다면 5명이든 50명이든 학생 성적을 **리스트 하나**로 처리할 수 있습니다.

In [17]:
# 리스트 만들기
score = [score1, score2, score3, score4, score5]

# 확인
score

[85, 90, 80, 75, 95]

- sum() 함수로 합을 **쉽게** 구할 수 있습니다.

In [18]:
# 리스트 요소의 합
score_sum = sum(score)

# 확인
score_sum

425

- max() 함수로 최댓값을 **쉽게** 구할 수 있습니다.

In [20]:
# 리스트 요소 중 가장 큰 값
score_max = max(score)

# 확인
score_max

95

## 3.2.리스트 만들기

- 값을 대괄호 안에 나열만 하면 되니 리스트 만들기는 쉽습니다.

### 3.2.1.다양한 형태의 리스트

**1) 비어있는 리스트 만들기**

- 이후 요소를 받기 위해 비어있는 리스트를 만드는 경우가 있습니다.
- list() 함수는 다른 자료형을 리스트로 변환하는 함수입니다.

In [25]:
# 빈 리스트 만들기
score1 = []
score2 = list()

# 확인
print(score1)
print(score2)

[]
[]

**2) 같은 자료형을 요소로 갖는 리스트**

- 같은 자료형의 데이터를 요소로 갖는 리스트가 가장 일반적인 리스트 유형입니다.
- 문자열에 포함된 문자 개수를 확인했던 len() 함수로 리스트 요소 개수를 확인할 수 있습니다.

In [26]:
# 리스트 만들기
score = [85, 95, 90, 75]

# 확인
print(score)
print(len(score))

[85, 95, 90, 75]
4

**3) 여러 자료형을 요소로 갖는 리스트**

- 여러 자료형의 값을 요소로 갖는 리스트를 만들 수 있습니다.

In [27]:
# 리스트 만들기
member = ['홍길동', 85, '한사랑', 95, '일지매', 90,'박여인', 75]

# 확인
print(member)
print(len(member))

['홍길동', 85, '한사랑', 95, '일지매', 90, '박여인', 75]
8

**4) 리스트를 요소로 갖는 리스트**

- 리스트를 요소로 갖는 리스트(List of List)를 만들 수 있습니다.
- 아래 리스트와 같은 형태를 2차원 리스트라고 부릅니다.
- len() 함수로 확인한 요소의 개수는 9가 아니고 3입니다.
- 요소 3개씩을 갖는 리스트 3개가 score 리스트의 요소입니다.

In [35]:
# 2차원 리스트 만들기
score = [[80, 90, 75], 
         [85, 70, 99],
         [90, 75, 80]]

# 확인
print(score)
print(len(score))
print(score[1])
print(score[1][2])

[[80, 90, 75], [85, 70, 99], [90, 75, 80]]
3
[85, 70, 99]
99

### 3.2.2.range() 함수로 리스트 만들기

- 다음과 같이 일련의 요소를 직접 나열하는 것은 정말 번거롭습니다.
- 혹시 입력하다가 뺴먹은 숫자가 없는지 불안하기까지 합니다.

In [36]:
# 리스트 만들기
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20]

# 확인
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20]


- **연속된 정수**로 리스트를 만들 때는 **range()** 함수를 사용하면 편리합니다.
- range() 함수로 리스트를 만드는 것이 아니라 이 함수로 얻은 값을 리스트로 변환합니다.
- range() 함수는 튜플, 집합, 딕셔너리 등을 만들 때도 사용됩니다.

**1) 기본 사용법**

- **range(*n*)**: 0 부터 n-1 까지의 정수 범위가 됩니다.
- **range(*m*, *n*)**: m 부터 n-1 까지의 정수 범위가 됩니다.

In [43]:
# 0 ~ 9 정수를 요소로 갖는 리스트
nums = list(range(10))

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


- **range(*m*, *n*)**: m 부터 n-1 까지의 정수 범위가 됩니다.

In [45]:
# 위 결과와 동일
nums = list(range(0,10))

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
# -5 ~ 5 사이 정수를 요소로 갖는 리스트
nums = list(range(-5,6))

# 확인
nums

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

**2) 증가값 지정**

- **range(*m, n, x*)**: m 부터 n-1 까지 x 만큼씩 증가하는 정수가 됩니다.

In [49]:
# 0 ~ 9 사이, 2씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(0,10,2))

# 확인
nums

[0, 2, 4, 6, 8]

In [50]:
# 0 ~ 9 사이, 3씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(0,10,3))

# 확인
nums

[0, 3, 6, 9]

In [58]:
# 9 ~ 0 사이, 1씩 감소하는 정수를 요소로 갖는 리스트
nums = list(range(9,-1,-1))

# 확인
nums

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

**[참고] 조금은 낯선 방법**

- range() 함수에 지정한 마지막 값이 만들어지는 값에 포함되지 않음이 조금 불편합니다.
- 불편한 함수도 계속 사용하다 보면 익숙해 지니 절대 염려하지 마세요.
- 마지막 값이 포함되지 않으므로 다음과 같이 사용하는 경우도 있습니다.

In [59]:
# 1부터 10까지의 정수를 갖는 리스트 만들기
nums = list(range(1, 10 + 1))

# 확인
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 3.2.3.문자열로 리스트 만들기

- 자주 사용될 기능은 아니지만 문자열의 특징으로 알고 있으면 좋을 것입니다.

In [66]:
# 단순 문자열
var_str = ('PYTHON')
print('var_str 타입', type(var_str))

var_str2 = "PYTHON",
print('var_str2 타입', type(var_str2))
# 확인   
var_str

var_str 타입 <class 'str'>
var_str2 타입 <class 'tuple'>

'PYTHON'

In [67]:
# 문자열 하나를 요소로 갖는 리스트
list_str = ['PYTHON']

# 확인
list_str

['PYTHON']

In [68]:
# 개별 문자를 요소로 갖는 리스트 #1
list_str = list('PYTHON')

# 확인
list_str    # ['P', 'Y', 'T', 'H', 'O', 'N']

['P', 'Y', 'T', 'H', 'O', 'N']

In [1]:
# 개별 문자를 요소로 갖는 리스트 #2

list_str = list('123456789')
list_str = list(map(str,range(1,10)))

# 확인
list_str    # ['1', '2', '3', '4', '5', '6', '7', '8', '9']

['1', '2', '3', '4', '5', '6', '7', '8', '9']

## 3.3.리스트 인덱싱(Indexing)

- 특정 요소, 즉 리스트 안에서 특정 값을 찾을 때 사용하는 데이터를 **인덱스**라고합니다.
- 이러한 인덱스로 특정 요소를 찾는 과정을 **인덱싱**이라고 합니다.
- **대괄호**, 즉 **[ ]** 안에 인덱스를 지정합니다.
- **0부터 시작**하는 **정수형 위치 인덱스**를 사용해 원하는 위치의 요소를 확인합니다.
- 0부터 시작함이 매우 낯설지만 자주 사용해 익숙해져야 합니다.
- 인덱스 역방향은 **-1**부터 시작됩니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/list_indexing.png' width=540 align = "left"/>

In [122]:
# 리스트 만들기
member = ['홍길동', 85, '한사랑', 95, '일지매', 90, '박여인', 75]

# 인덱싱
print(member[:])
print(member[2])
print(member[5])

['홍길동', 85, '한사랑', 95, '일지매', 90, '박여인', 75]
한사랑
90
['한사랑', 95]
['일지매', 90, '박여인', 75]

- 리스트를 요소로 갖는 리스트에 대한 인덱싱은 다음과 같습니다.

In [113]:
# 리스트를 요소로 갖는 리스트
score = [80, [90, 100, 85], 85, 90]

# 인덱싱
print(score[:])
print(score[2])
print(score[1][2])

[80, [90, 100, 85], 85, 90]
85
85

## 3.4.리스트 슬라이싱(Slicing)

- 인덱스를 사용해 특정 **범위**의 요소를 찾는 과정을 **슬라이싱**이라고 합니다.
- 대괄호안에 [m:n] 형태로 범위를 지정하여 요소를 확인합니다.
- 인덱스 m 부터 n-1 까지, 즉 **인덱스 n의 요소는 결과에 포함되지 않습니다.**

<img src='https://raw.githubusercontent.com/jangrae/img/master/list_indexing.png' width=540 align = "left"/>

In [123]:
# 리스트 만들기
member = ['홍길동', 85, '한사랑', 95, '일지매', 90,' 박여인', 75]

# 슬라이싱
print(member[2:4])
print(member[-4:])

['한사랑', 95]
['일지매', 90, ' 박여인', 75]

- 리스트를 요소로 갖는 리스트에 대한 슬라이싱은 다음과 같습니다.

In [125]:
# 리스트를 요소로 갖는 리스트
score = [80, [90, 100, 85], 85, 90]

# 슬라이싱
print(score[1][1:])

[100, 85]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align = "left"/>

[문1] 다음 셀의 코드를 수정해서 원하는 내용이 제대로 출력되게 하세요.

In [126]:
# 1 ~ 10 정수를 갖는 리스트
a = list(range(1, 10))

# 확인
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
# 2 ~ 10 짝수를 갖는 리스트
b = list(range(2, 11, 2))

# 확인
b

[2, 4, 6, 8, 10]

In [135]:
# 리스트 a에서 5 ~ 8 정수만 가져와 리스트 c 만들기
a = list(range(1,10))
c = a[4:8]

# 확인
c

[5, 6, 7, 8]

### ※ 대괄호에 주의보!

<img src='https://raw.githubusercontent.com/jangrae/img/master/list.png' width=700 align = "left"/>

## 3.5.리스트 연산

- 리스트 연산은 문자열 연산과 같은 결과를 보여줍니다.
- **더하기**는 **결합**을, **곱하기**는 **반복**을 의미합니다.
- 빼기와 나누기 연산은 불가능합니다.

**1) 리스트 더하기**

- 리스트를 더하면 두 리스트가 연결되는 결과를 보입니다.

In [138]:
# 리스트 만들기
score1 = [90, 80, 95, 70]
score2 = [70, 75, 90, 100]

# 두 리스트 더하기
score3 = score1+score2

# 확인
score3

[90, 80, 95, 70, 70, 75, 90, 100]

- 다음과 같이 복합 대입 연산자를 사용해 리스트를 연결할 수 있습니다.

In [141]:
# 빈 리스트 만들기
score = []

score1 = [90, 80, 95, 70]
score2 = [70, 75, 90, 100]

# 리스트 연결
score += score1
score += score2

# 확인
score     # [90, 80, 95, 70, 70, 75, 90, 100]

[90, 80, 95, 70, 70, 75, 90, 100]

**2) 리스트 반복**

- 리스트에 정수를 곱하면 그 수 만큼 요소가 반복됩니다.

In [143]:
# 리스트 만들기
score1 = [90, 80, 95, 70]

# 리스트 요소를 곱한 수 만큼 반복하기
score2 = [90, 80, 95, 70]*2
score3 = [90, 80, 95, 70]*3

# 확인
print(score1)
print(score2)
print(score3)

[90, 80, 95, 70]
[90, 80, 95, 70, 90, 80, 95, 70]
[90, 80, 95, 70, 90, 80, 95, 70, 90, 80, 95, 70]

- 정수 0을 곱하면 리스트 요소가 모두 제거되어 빈 리스트가 됩니다.

In [146]:
# 리스트 만들기
score1 = [90, 80, 95, 70]

# 리스트에 0 곱하기
score0 = score1 * 0

# 확인
print(score1)
print(score0)

[90, 80, 95, 70]
[]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align = "left"/>

[문1] 다음 셀에서 만든 세 리스트를 합해 새로운 리스트 a_all을 만드세요.

In [ ]:
# 두 리스트 만들기
a1 = list(range(1, 5))
a2 = list(range(5, 10))
a3 = list(range(10, 15))

# 확인
print(a1)
print(a2)
print(a3)

In [153]:
a1 = list(range(1, 5))
a2 = list(range(5, 10))
a3 = list(range(10, 15))

# 리스트 합치기
a_all = a1 + a2 + a3

# 확인
a_all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## 3.6.요소 변경, 추가, 삭제

- 인덱싱 또는 슬라이싱 결과에 대해 요소를 변경하거나 삭제할 수 있습니다.
- **append()**, **insert()** 메소드를 사용해 요소를 추가할 수 있습니다.

### 3.6.1.변경

**1) 범위 내 변경**

- 기존 요소의 값이 변경됩니다.

In [147]:
# range() 함수로 리스트 만들기
nums = list(range(10))

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
# 특정 요소 값 변경
nums[1] = 10

# 확인
nums

[0, 10, 20, 30, 40, 50, 70, 80, 90, 100, 110, 120]

In [156]:
# 범위내 요소 값 변경
nums[2:4] = [20, 30]

# 확인
nums

[0, 10, 20, 30, 40, 50, 70, 80, 90, 100, 110, 120]

In [157]:
# 범위내 요소 값 변경
nums[4:7] = [40, 50]

# 확인
nums

[0, 10, 20, 30, 40, 50, 80, 90, 100, 110, 120]

**2) 범위 밖 변경**

- 범위를 벗어나는 요소 값을 변경하면 요소가 추가됩니다.
- 범위가 꼭 연결되지 않아도 됩니다.

In [168]:
# 범위를 벗어나는 요소 값 변경
nums = list(range(10))
print(nums)

nums[6:] = [70, 80, 90, 100]

# 확인
print(nums)


nums = list(range(10))
# print(nums)

nums[6:] = [70, 80, 90, 100, 1100]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 70, 80, 90, 100]
[0, 1, 2, 3, 4, 5, 70, 80, 90, 100, 1100]

In [171]:
# 범위를 완전히 벗어나는 요소 값 변경
nums = list(range(10))
print(nums)

nums[600:] = [110, 120]

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 110, 120]

### 3.6.2.추가

**1) 뒤에 요소 하나 추가**

- **append()** 메소드를 사용해서 맨 뒤에 요소 **하나**를 추가할 수 있습니다.

In [172]:
# 0 ~ 4 정수를 갖는 리스트 만들기
nums = list(range(5))

# 확인
nums

[0, 1, 2, 3, 4]

In [191]:
# 맨 뒤에 요소 하나 추가
nums = list(range(5))

print(nums)
nums.append(5)

# 맨 뒤에 요소 하나 더 추가
nums.append(6)

# 확인
nums

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4, 5, 6]

In [190]:
# 맨 뒤에 요소 하나 추가
nums = list(range(5))

print(nums)
nums = nums.append(5)

# 맨 뒤에 요소 하나 더 추가

# 확인
print(nums)

[0, 1, 2, 3, 4]
None

In [184]:
# 맨 뒤에 리스트 하나를 요소로 추가
nums.append([7, 8])

# 확인
nums

[0, 1, 2, 3, 4, 5, [7, 8]]

**2) 중간에 요소 추가**

- **insert()** 메소드를 사용하면 원하는 위치에 요소를 추가할 수 있습니다.

In [227]:
# 리스트 만들기
nums = [10, 20, 40, 50]

# 확인
nums

[10, 20, 40, 50]

In [228]:
# 특정 위치에 요소 추가
nums.insert(2,30)

# 확인
nums

[10, 20, 30, 40, 50]

**3) 뒤에 리스트 붙이기 #1**

- 리스트에 리스트를 더하면 리스트가 연결됩니다.

In [231]:
# 리스트 만들기
nums = list(range(5))

# 확인
nums

[0, 1, 2, 3, 4]

In [232]:
# 리스트 더하기
nums = nums + [5, 6, 7, 8, 9]

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**4) 뒤에 리스트 붙이기 #2**

- **extend()** 메소드 사용해 리스트 뒤에 리스트를 붙일 수 있습니다.

In [229]:
# 리스트 만들기
nums = list(range(5))

# 확인
nums

[0, 1, 2, 3, 4]

In [230]:
# extend 메소드를 사용해서 다른 리스트 연결
nums.extend([5, 6, 7, 8, 9])

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 3.6.3.삭제

In [233]:
# 리스트 만들기
nums = list(range(10, 100, 10))

# 확인
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

**1) 특정 요소 삭제**

- **del** 다음에 인덱싱 구문을 추가해 해당 요소를 삭제합니다.

In [3]:
# del문으로 특정 요소 삭제
#      [10, 20, 30, 40, 50, 60, 70, 80, 90]
# 인덱스 0   1   2   3   4   5   6   7   8

nums = list(range(10, 100, 10))
print(nums)

del nums[7]

# 확인
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

[10, 20, 30, 40, 50, 60, 70, 90]

**2) 범위 삭제**

- del 다음에 슬라이싱 구문을 추가해 해당 범위 요소를 삭제합니다.

In [4]:
# 범위 지정하여 여러 요소 삭제
#      [10, 20, 30, 40, 50, 60, 70, 90]
# 인덱스 0   1   2   3   4   5   6   7

nums = list(range(10, 100, 10))
print(nums)


del nums[4:]

# 확인
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

[10, 20, 30, 40]

**3) 전체 삭제**

- [ ]를 대입하거나 **clear()** 메소드로 초기화합니다.

In [5]:
nums = list(range(10, 100, 10))
print(nums)


# 모든 요소 삭제
nums = []

# 또는
#nums.clear()

# 확인
nums

[10, 20, 30, 40, 50, 60, 70, 80, 90]

[]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] **len()** 함수를 사용하여 score에 들어있는 요소의 개수를 구하세요.

In [26]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

# 요소 개수 확인
len(score)

9

[문2] 75와 -77을 인덱싱해서 출력하세요.

In [30]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]


# 인덱싱
print(score[0] ,score[4])

75 -77

[문3] **append()** 메소드를 이용하여 마지막에 숫자 80을 추가하세요.

In [13]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]
print(score)
# 요소 추가


# 확인
score.append(80)
score

[75, 46, 93, -82, -77, 130, 100, 75, -10]

[75, 46, 93, -82, -77, 130, 100, 75, -10, 80]

[문4] 처음부터 3번째까지(75, 46, 93)의 요소를 슬라이싱 하세요.

In [32]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]
print(score)


# 슬라이싱
print('첫 번째 방법',score[0:3])
print('두 번째 방법',score[:3])

[75, 46, 93, -82, -77, 130, 100, 75, -10]
첫 번째 방법 [75, 46, 93]
두 번째 방법 [75, 46, 93]

[문5] 끝에서 5번째 요소 값(130)을 30으로 변경하세요.

In [39]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]
print(score)

# 요소 변경
score[-4]= 30


# 확인
score

[75, 46, 93, -82, -77, 130, 100, 75, -10]

[75, 46, 93, -82, -77, 30, 100, 75, -10]

In [40]:
# 리스트 만들기
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]
score[-4] = 30
print(score)

# [문6] 두 번째 요소 값(46)을 삭제하세요.

# 요소 삭제
del score[1]

# 확인
score

[75, 46, 93, -82, -77, 30, 100, 75, -10]

[75, 93, -82, -77, 30, 100, 75, -10]

## 3.7.리스트 복사

- 리스트 = 리스트 형태는 우리가 생각하는 복사가 아닙니다.
- **범위를 지정한 복사가 완전한(?) 복사입니다.**

In [42]:
# 리스트 복사
nums = list(range(10))
nums_copy_1 = nums                  # 그냥 복사
nums_copy_2 = nums[:]               # 전체 범위를 지정하여 복사

# 확인
print(nums_copy_1)
print(nums_copy_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 원본이든 복사본이든 한 쪽 변경이 다른 쪽에 영향을 준다면 완전한 복사가 아닙니다.

In [53]:
# 리스트 복사
nums = list(range(10))
nums_copy_1 = nums                  # 그냥 복사
nums_copy_2 = nums[:]               # 전체 범위를 지정하여 복사


print('변경 전')
print('nums_copy_1', nums_copy_1)
print('nums_copy_2',nums_copy_2)
print('nums', nums)


# copy_1의 첫번째 값 변경 후 원본과 비교
nums_copy_1[0] = 'a'

print('\n변경 후')
# 확인
print('nums_copy_1', nums_copy_1)
print('nums_copy_2',nums_copy_2)
print('nums', nums)

변경 전
nums_copy_1 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums_copy_2 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

변경 후
nums_copy_1 ['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums_copy_2 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums ['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 원본이든 복사본이든 한 쪽 변경이 다른 쪽에 영향을 주지 않을 때 완전한 복사입니다.

In [57]:
# 리스트 생성
nums = list(range(10))

# copy_2의 첫번째 값 변경 후 원본과 비교
nums_copy_2[0] = 'b'

# 확인
print('nums_copy_1',nums_copy_1)
print('nums_copy_2',nums_copy_2)
print('nums',nums)

nums_copy_1 ['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums_copy_2 ['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 범위를 지정한 복사 방법 외에도 **copy()** 메소드를 사용하는 방법도 있습니다.
- 다음 두 구문이 완전히 복사하는 방법이 됩니다.

In [60]:
# 리스트 생성
nums = list(range(10))

# 완전 복사 방법
nums_copy_2 = nums[:]
nums_copy_2 = nums.copy()

nums_copy_2[0] = 'b'

print('nums_copy_2',nums_copy_2)
print('nums',nums)

nums_copy_2 ['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3.8.리스트 관련 메소드

- 다음 메소드들은 알아두면 편리하게 쓰일 때가 있습니다.
- 문자열 관련 메소드에 의한 변경은 변수에 바로 반영되지 않습니다. 
- 하지만 리스트 관련 메소드에 의한 변경은 변수에 바로 반영이 됩니다.

In [95]:
# 변수 선언
a = 'I have a Dream.'
b = ['A', 'B', 'C', 'D']

# 메소드 사용
print(a.upper())
b.reverse()

# 확인
print(a)
print(b)

I HAVE A DREAM.
I have a Dream.
['D', 'C', 'B', 'A']

**1) count(), index() 메소드: 요소 개수와 위치 조회**

In [63]:
# 리스트 만들기
score = [90, 80, 95, 70, 100, 65, 70, 100]

# 확인
score

[90, 80, 95, 70, 100, 65, 70, 100]

In [64]:
# 100점이 몇 개인지 확인
score.count(100)

2

In [99]:
# 100점이 처음 나타나는 위치
score = [90, 80, 95, 70, 100, 65, 70, 100]
print(score.index(100))
print(score.index(100,-1))

4
7

In [107]:
for i, x in enumerate(score):
    if x==100:
        print(i,x)
        print(i)

4 100
4
7 100
7

**2) append() 메소드: 요소 하나 추가**

In [66]:
# 리스트 만들기
score = [90, 80, 95, 70, 100]
score

[90, 80, 95, 70, 100]

In [67]:
# 리스트 맨 뒤에 새로운 요소 추가
score.append(85)

# 확인
score

[90, 80, 95, 70, 100, 85]

In [68]:
# 리스트에 리스트를 요소로 추가
score.append([85, 95, 90, 70, 85])

# 확인
score

[90, 80, 95, 70, 100, 85, [85, 95, 90, 70, 85]]

**3) reverse(), sort() 메소드: 요소 순서 변경**

In [75]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 확인
member

['홍길동', '일지매', '박여인', '한사랑', '강우동']

In [112]:
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 요소 뒤집기
member.reverse()

# 확인
member

['강우동', '한사랑', '박여인', '일지매', '홍길동']

In [78]:
# 리스트 안의 요소를 오름차순으로 정렬
member.sort()

# 확인
member

['강우동', '박여인', '일지매', '한사랑', '홍길동']

In [79]:
# 리스트 안의 요소를 내림차순으로 정렬
member.sort(reverse=True)

# 확인
member

['홍길동', '한사랑', '일지매', '박여인', '강우동']

**4) insert() 메소드: 지정한 위치에 요소 추가**

In [80]:
# 리스트 만들기
member = ['일지매', '박여인', '한사랑']

# 확인
member

['일지매', '박여인', '한사랑']

In [81]:
# '박여인'과 '한사랑' 사이에 '한국인' 삽입
member.insert(2, '한국인')

# 확인
member

['일지매', '박여인', '한국인', '한사랑']

In [85]:
# 리스트 만들기
member = ['일지매', '박여인', '한사랑']

# 마지막 요소 '한사랑' 앞에 '강우동' 삽입
member.insert(-1,'강우동')

# 확인
member

['일지매', '박여인', '강우동', '한사랑']

In [86]:
# 맨 앞 요소 '일지매' 앞에 '홍길동' 삽입
member.insert(0, '홍길동')
member

['홍길동', '일지매', '박여인', '강우동', '한사랑']

**5) remove(), pop(), clear() 메소드: 요소 삭제**

In [87]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

# 확인
member

['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

In [88]:
# 첫 번째 '박여인' 삭제
member.remove('박여인')

# 확인
member

['홍길동', '일지매', '한사랑', '박여인', '강우동']

In [128]:
member = ['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']
print(member,'\n')


# 3번째 요소 삭제
del_member = member.pop(2)

# 확인
print(del_member)
print('\n',member)

# 3번째 요소 삭제
del_member = member.pop(2)

# 확인
print(del_member)
print(member)

['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

박여인

 ['홍길동', '일지매', '한사랑', '박여인', '강우동']
한사랑
['홍길동', '일지매', '박여인', '강우동']

In [126]:
# 모든 요소 삭제
member.clear()

# 확인
member

[]

### 괄호 주의보!
<img src='https://raw.githubusercontent.com/jangrae/img/master/parenthesis.png' width=700 align="left"/>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 코드를 실행하기 전에 결과를 예측해 보고, 실행 후에 결과와 비교해 보세요.

In [139]:
# 리스트 만들기
del_member = []
member = ['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

# 요소 삭제
del_member.append(member.pop(0))
del_member.append(member.pop(0))
del_member.append(member.pop(0))

# 확인
print(del_member)
print(member)

['홍길동', '일지매', '박여인']
['한사랑', '박여인', '강우동']

**6) extend() 메소드: 리스트 연결**

In [91]:
# 리스트 만들기
score = [90, 80, 95, 70, 100]

# 확인
score

[90, 80, 95, 70, 100]

In [146]:
# 리스트에 리스트 붙이기
score.extend([65, 70, 100])

# 확인
score

[95, 75, 80, 65, 70, 100]

In [147]:
# 두 리스트 연결
add_score = [80, 95, 75]
score.extend(add_score)

# 확인
score

[95, 75, 80, 65, 70, 100, 80, 95, 75]