<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

# 8.함수(Function)

- 함수는 입력을 받아 무엇인가를 처리한 후 그 결과를 반환하는 것입니다.
- 쌀(입력)을 밥솥(함수)에 넣으면 밥(출력)이 되는 형태와 같습니다.
- 같은 입력(쌀)이라 해도 함수(밥솥)기능에 따라 다른 출력(밥)이 됩니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/function.png' width=650 align="left"/>

- 프로그래밍에서 함수란 반복해 사용할 코드를 미리 정의해 두고 필요할 때 사용하는 모듈입니다.
- 함수를 사용하면 같은 로직을 반복해 코딩할 필요가 없어집니다.
- 함수는 **def** 문으로 정의합니다.
- 함수는 기본적으로 세 가지로 구성됩니다.  

        ① 입력(Input)  
        - 입력 매개변수, 생략가능  
            
        ② 처리
        - 코드들  
            
        ③ 출력(Output)
        - 처리 결과, 생략가능

## 8.1.입력(Input)

- 우선 무작정 다음과 같이 함수를 만들어 봅니다.

In [1]:
# 함수 만들기: 입력 없음
def hello():
    print('안녕하세요? 반갑습니다!')

# 함수 사용하기
hello()

안녕하세요? 반갑습니다!

**1) 입력 매개변수**

- 위 함수는 입력 없이 처리되는 함수입니다.
- 이제 이름을 입력 받아 처리하는, 즉 입력 매개변수를 갖는 함수를 만듭니다.

In [6]:
# 함수 만들기: 입력 있음
def hello(name):
    print(f'{name}님 안녕하세요? 반갑습니다!') 

# 함수 사용
hello('홍길동')
# hello()

홍길동님 안녕하세요? 반갑습니다!

**2) 입력 매개변수 기본값**

- 위 함수는 입력 매개변수가 없으면 오류가 발생합니다.
- '매개변수 = 값' 형태로 기본값을 지정할 수 있습니다.
- 이름을 전달하지 않으면 '여러분'이 기본값으로 사용되게 수정합니다.

In [8]:
# 함수 만들기: 기본값 있음
def hello(name='여러분'):
    print(f'{name}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동')
hello()

홍길동님 안녕하세요? 반갑습니다!
여러분님 안녕하세요? 반갑습니다!

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 위 함수에서 기본값이 사용된 경우 '여러분님 안녕하세요? 반갑습니다!'가 표시됩니다.

- '여러분 안녕하세요? 반갑습니다!'가 표시되게 함수를 수정하세요.

In [36]:
# def hello(name=''):
#     if name=='':
#         print('여러분 안녕하세요? 반갑습니다!')
#     else:
#         print(f'{name}님 안녕하세요? 반갑습니다!')
    
# hello()
# hello('홍길동')

def hello(name='여러분'):
    if (name=='여러분'):
        print(f'{name} 안녕하세요? 반갑습니다!')
    else:
        print(f'{name}님 안녕하세요? 반갑습니다!')
    
hello()
hello('홍길동')

여러분 안녕하세요? 반갑습니다!
홍길동님 안녕하세요? 반갑습니다!

**3) 입력 매개변수 순서**

- 매개변수 이름으로 지정하면 전달되는 순서를 바꿀 수 있습니다.
- 매개변수 순서에 맞게 값을 넣으면 매개변수 이름을 생략할 수 있습니다.

In [37]:
# 함수 만들기
def hello(name, loud=1):
    if loud == 1:
        print(f'우~~와~~ {name}님 안녕하세요? 반갑습니다!!!') 
    else:
        print(f'{name}님 안녕하세요? 반가워요.')
        
# 함수 사용
hello(name='홍길동', loud=1)   # 매개변수 이름 = 값 으로 지정
hello(loud=0, name='홍길동')   # 매개변수 이름으로 지정하면 순서 변경 가능
hello('홍길동', 0)             # 매개변수 순서에 맞게 값을 넣으면 매개변수 이름 생략 가능
hello('홍길동')                # 함수 생성 시 loud = 1 로 선언했으므로, 안쓰면 기본값 1이 입력됨

우~~와~~ 홍길동님 안녕하세요? 반갑습니다!!!
홍길동님 안녕하세요? 반가워요.
홍길동님 안녕하세요? 반가워요.
우~~와~~ 홍길동님 안녕하세요? 반갑습니다!!!

**4) 임의의 여러 매개변수**

- 일반적으로 임의의 여러 입력 매개변수가 전달된 경우는 함수 안에서 반복문을 사용해 처리합니다.

In [16]:
# 함수 만들기
def hello(*args):
    for who in args:
        print(f'{who}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동', '일지매', '강우동')

홍길동님 안녕하세요? 반갑습니다!
일지매님 안녕하세요? 반갑습니다!
강우동님 안녕하세요? 반갑습니다!

In [56]:
# 함수 만들기
def hello(*args):
    for who in args:
        print(f'{who}님 안녕하세요? 반갑습니다!')

# 함수 사용
men = ['홍길동', '일지매','강우동']
hello(men)

['홍길동', '일지매', '강우동']님 안녕하세요? 반갑습니다!

**(*) 찍어서 리스트 분해해서 함수에 대입하기**

In [58]:
# 함수 만들기
def hello(*args):
    for who in args:
        print(f'{who}님 안녕하세요? 반갑습니다!')

# 함수 사용
men = ['홍길동', '일지매','강우동']
hello(*men)

홍길동님 안녕하세요? 반갑습니다!
일지매님 안녕하세요? 반갑습니다!
강우동님 안녕하세요? 반갑습니다!

**5) 임의의 여러 매개변수와 고정 매개변수**

- 임의의 여러 입력 매개변수와 고정된 매개변수를 사용할 수 있습니다.

In [59]:
# 함수 만들기
def hello(*args, title):
    for who in args:
        print(f'{who}{title} 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동', '일지매', '강우동', title='선생님')

홍길동선생님 안녕하세요? 반갑습니다!
일지매선생님 안녕하세요? 반갑습니다!
강우동선생님 안녕하세요? 반갑습니다!

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 숫자를 여러 개 받아(*입력변수) 각각의 숫자를 제곱한 후 모두 더한 값을 출력하는 함수 summ를 만드세요.

In [65]:
# 함수 만들기
def summ(*args):
    tot = 0
    for num in args:
        tot+=num**2
    print(tot)

# 함수 사용
summ(1, 4, 3, 5)

51

In [72]:
# 함수 만들기
def summ(*args):
    tot = 0
    for num in args:
        tot+=num**2
    print(tot)

# 함수 사용
summ(1, 4, 3, 5)


# 함수 만들기
def summ(*args):
    print(f"{sum (  num**2 for num in args  )  }")

# 함수 사용
summ(1, 4, 3, 5)

51
51

In [71]:
name1 = ['김','이','박']
name2 = ['길동','지매','사랑']
print([x+y for x in name1 
           for y in name2])

['김길동', '김지매', '김사랑', '이길동', '이지매', '이사랑', '박길동', '박지매', '박사랑']

## 8.2.출력(Output)

- 함수 안에서 print() 함수로 결과를 출력하는 함수는 반환되는 값이 없습니다.
- 반환되는 값이 없는 함수의 결괏 값을 받아 출력하면 None이 출력됩니다.

In [61]:
# 함수 만들기
def numbers1(*nums):
    print(nums)

# 함수 사용
a1 = numbers1(1, 2, 3)
print(a1)

(1, 2, 3)
None

- 함수가 여러 개의 결괏값을 반환할 수도 있습니다.

In [102]:
# 함수 만들기
def calculate(a, b):
    summ = a + b
    mult = a * b
    return summ, mult

# 함수 사용
r1, r2 = calculate(10, 5)
print(r1)
print(r2)
calculate(10, 5)
print(f'{calculate(10,5)} {type(calculate(10,5))}')

15
50
(15, 50) <class 'tuple'>

In [105]:
# 함수 만들기
def calculate(a, b):
    return a+b, a*b

# 함수 사용
r1, r2 = calculate(10, 5)
print(f'{r1} {r2}')
print(f'{calculate(10,5)} {type(calculate(10,5))}')

15 50
(15, 50) <class 'tuple'>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 두 숫자를 입력받아 몫과 나머지를 반환하는 divide2 함수를 만드세요.

In [108]:
# 함수 만들기
def divide2(a,b):
    r1 = a//b
    r2 = a%b
    return(r1,r2)

# 함수 사용
r1, r2 = divide2(10, 5)
print(r1)
print(r2)

2
0

In [111]:
# 함수 만들기
def divide2(a,b):
    return a//b, a%b

# 함수 사용
r1, r2 = divide2(10, 5)
print(r1)
print(r2)

2
0

In [114]:
# 함수 만들기
def divide2(a,b):
    return divmod(a,b)

# 함수 사용
r1, r2 = divide2(10, 5)
print(r1)
print(r2)

2
0

## 8.3.예외 처리

- 함수 내에서 발생할 수 있는 오류에 대한 사전 처리를 권고합니다.
- 다음 함수는 오류에 대한 처리가 없어 함수 사용 시 오류가 발생합니다.

In [ ]:
# 함수 만들기
def divide(a, b) : 
    result = a / b
    return result

# 함수 사용
divide(10, 0)

**1) 입력 오류 처리**

- 나누는 값, 즉 분모가 0인 경우에 대한 처리를 함수에 추가합니다.

In [ ]:
# 함수 만들기
def divide(a, b) : 
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')    
    
    else :
        result = a / b
        return result

# 함수 사용
divide(10, 0)

**2) 입력 데이터 형식 확인**

- 다음과 같이 데이터 형식을 확인할 수 있습니다.

In [ ]:
# 데이터 형식 확인
a = 123
print(type(a) == int)

b = 'abc'
print(type(b) is str)

c = [1, 2, 3]
print(type(c) is list)

d = {'v': 23}
print(type(d) == dict)

- 입력되는 데이터 형식이 적절한지 확인하는 구문을 함수에 추가합니다.

In [ ]:
# 함수 만들기
def divide(a, b) : 
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')
    elif (type(a) != int) or (type(b) != int):
        print('정수 연산만 가능합니다.')
    else:
        result = a / b
        return result

# 함수 사용
divide(10, 0)
divide(10, 'ab')
divide(10, 2)

<img src='https://raw.githubusercontent.com/jangrae/img/master/function2.png' width=400 align="left"/>

## 8.4.내장 함수

- 이미 Python이 제공하고 있는 함수를 알고 사용할 수 있어야 합니다.
- 중요한 함수들을 정리했으니 참고하기 바랍니다.

**1) abs(x) 함수**

- x의 절대값을 반환합니다.

In [ ]:
a = -123.45
abs(a)

**2) all(x) 함수**

- x의 요소 모두가 참이면 True를 반환합니다.

In [115]:
a = [1, 2, 3, 4, 5]
all(a)

True

In [116]:
a = [0, 1, 2, 3, 4]
all(a)

False

**3) any(x) 함수**

- x의 요소 중 하나라도 참이면 True를 반환합니다.

In [117]:
a = [0, 1, 2, 3, 4]
any(a)

True

**4) chr(x) 함수**

- 아스키 코드값 x에 대응하는 문자를 반환합니다.

In [118]:
chr(65)

'A'

In [119]:
chr(97)

'a'

**5) dir(x) 함수**

- 객체 x가 가지고 있는 변수나 메소드 목록을 반환합니다.

In [120]:
a = [1, 2, 3]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [122]:
a = [1, 2, 3]
b = [x for x in dir(a) if x[0] != '_']
print(b)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**6) divmod(x, y) 함수**

- x를 y로 나눈 몫과 나머지를 튜플 형태로 반환합니다.

In [ ]:
a = 32
b = 5
divmod(a, b)

In [ ]:
a = 32
b = 5
c, d = divmod(a, b)
print('몫:', c, '나머지:', d)

**7) enumerate(x) 함수**

- 리스트, 튜플, 문자열을 받아 인덱스와 값을 반환합니다.

In [123]:
a = [1, 2, 3]
for idx, name in enumerate(a):
    print(idx, name)

0 1
1 2
2 3

**8) eval(x) 함수**

- 실행 가능한 문자열 x를 받아 그 문자열을 실행한 결과를 반환합니다.

In [124]:
eval('10 + 20')

30

In [125]:
eval('print("ABC")')

ABC

**9) filter(f, x) 함수**

- 함수 f에 x를 매개변수로 전달해 True 인 경우만 반환합니다.

In [131]:
def 짝수(x):
    return x%2==0

list(filter(짝수, [1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [132]:
# 람다(lambda)
print(list(filter(  lambda x: x%2==0 , [1,2,3,4,5,6,7,8,9] )))

[2, 4, 6, 8]

In [136]:
def ucase(s):
    ## 얘가 대문자랑 같으면서 동시에 공백이 아니면 True를 반환한다.
    return s == s.upper() and s != ' '

a = 'I Have a Dream'
list(filter(ucase, a))

['I', 'H', 'D']

In [134]:
a = 'I Have a Dream'
list(filter(lambda x: x == x.upper() and x != ' ', a))

['I', 'H', 'D']

In [144]:
def hap(x,y):
    return x+y

# print(hap(10,20))

print( (lambda x, y: x+y)(10,20) )

30

**10) id(x) 함수**

- 객체 x의 고유 주소값을 반환합니다.

In [145]:
a = 100
id(a)

140728539062152

In [146]:
b = a
id(b)

140728539062152

**11) input() 함수**

- 사용자로부터 입력을 받습니다.(입력 받은 값은 언제나 문자열임)

In [148]:
a = input()
print('입력 값', a)

 ㄴ

입력 값 ㄴ

**12) int(x) 함수**

- x를 정수로 변환합니다.

In [149]:
a = int(124.6)
a

124

In [150]:
a = 123 + int('456')
a

579

**13) isinstance(x, y) 함수**

- x가 y의 인스턴스인지 여부를 True, False로 반환합니다.

In [157]:
a = list('PYTHON')
print(f'{a}')
print(isinstance(a, tuple))
print(isinstance(a, list))

['P', 'Y', 'T', 'H', 'O', 'N']
False
True

**14) len(x) 함수**

- x 요소들 개수를 반환합니다.

In [153]:
a = 'I have a Dream'
len(a)

14

In [154]:
b = [1, 2, 3, 4, 5]
len(b)

5

**15) list(x) 함수**

- x를 리스트 자료형으로 변환하여 반환합니다.

In [155]:
a = '1234567890'
b = list(a)
b

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

**16) map(f, x) 함수**

- 함수 f에 x 요소를 하나씩 전달해 얻은 결과를 반환합니다.

In [159]:
def 배수(num):
    return num*2
b=list(map(배수,a))
b

[2, 4, 6, 8, 10]

In [160]:
a = [1, 2, 3, 4, 5]
b = list(map(lambda x: x * 2, a))
b

[2, 4, 6, 8, 10]

In [164]:
a = [1, 2, 3, 4, 5]
b = list(map( lambda x: x*2 if x%2==0 else x * 3, a   )  )
b

[3, 4, 9, 8, 15]

**17) max(x) 함수**

- x 요소들 중 최댓값을 반환합니다.

In [ ]:
a = [1, 2, 3, 4, 5]
max(a)

**18) min(x) 함수**

- x 요소들 중 최솟값을 반환합니다.

In [ ]:
a = [1, 2, 3, 4, 5]
min(a)

**19) ord(x) 함수**

- 문자 x의 아스키 코드값을 반환합니다.

In [ ]:
ord('A')

**20) pow(x, y) 함수**

- x를 y번 제곱한 결과를 반환합니다.

In [ ]:
pow(5, 3)

**21) range(x, y, z) 함수**

- x 부터 y - 1 까지 z 씩 증가하는 객체를 반환합니다.

In [ ]:
print(list(range(10)))
print(list(range(1, 11)))
print(list(range(1, 11, 2)))

In [166]:
a = [3,2,4,5]
a.sort()
a

[2, 3, 4, 5]

**22) sorted(x) 함수**

- x 요소를 정렬하여 반환합니다.

In [ ]:
a = [3, 2, 4, 5, 1]
a = sorted(a)
a

**23) str(x) 함수**

- x를 문자열로 변환하여 반환합니다.

In [ ]:
a = 123
b = str(a) + '입니다.'
b

**24) sum(x) 함수**

- x의 요소를 모두 더한 결과를 반환합니다.

In [ ]:
a = [1, 2, 3, 4, 5]
sum(a)

**25) tuple(x) 함수**

- x를 튜플로 변환하여 반환합니다.

In [ ]:
a = '1234567890'
b = tuple(a)
b

**26) zip(x, y) 함수**

- x와 y 요소를 쌍으로 묶어서 반환합니다.

In [168]:
a = [1, 2, 3, 4, 5]
b = [10, 20, 30, 40]
list(zip(a, b))

[(1, 10), (2, 20), (3, 30), (4, 40)]